@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#background{
    background-image: url("/back.jpg");
}

@media screen and (max-width: 320px) {
    .search-hide {
        @apply hidden
    }
}

@media screen and (max-width: 630px) {
    .main-search {
        @apply max-w-[90vw]
    }
}

@media screen and (max-width: 440px) {
    .text-small {
        @apply text-3xl
    }
    .title-bar {
        @apply text-2xl
    }
}

@media screen and (max-width: 740px) {
    .hide-header-icons {
        @apply hidden
    }
    .menu-bar {
        @apply block
    }
}

@media screen and (max-width) {
    
}