@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#background{
    background-image: url("/back.jpg");
}

@media screen and (max-width: 320px) {
    .search-hide {
        @apply hidden
    }
}

@media screen and (max-width: 630px) {
    .main-search {
        @apply max-w-[90vw]
    }
}

@media screen and (max-width: 440px) {
    .text-small {
        @apply text-3xl
    }
    .title-bar {
        @apply text-2xl
    }
}

@media screen and (max-width: 800px) {
    .hide-header-icons {
        @apply hidden
    }
    #show-menu {
        display: block;
    }
    .menu-bar {
        @apply block
    }
}

@media screen and (max-width: 1150px) {
    .hide-search {
        @apply hidden
    }
}

#navButton:hover::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2px solid white;
    animation: animate 300ms linear;
}

@keyframes animate {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

body {
    font-family: "Rubik", sans-serif;
    background-color: #0D1117;
}

/* .gradient {
    background: rgb(225,218,218);
    background: radial-gradient(circle, rgba(225,218,218,1) 0%, rgba(14,29,32,1) 100%);
} */


.inputBar {
    @apply rounded-xl bg-[#0D1117] text-lg text-white outline-none focus:outline-blue-500
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
